{{ template "python_file_header" . }}
from __future__ import absolute_import, division, print_function

__metaclass__ = type

################################################################################
# Documentation
################################################################################

ANSIBLE_METADATA = {
    "metadata_version": "1.1",
    "status": ["preview"],
    "supported_by": "FIXME",
}

DOCUMENTATION = r"""
---
{{ $.DocumentationInfo.ToString }}"""  # noqa: E501

EXAMPLES = r"""
{{ template "info_module_examples" . }}"""  # noqa: E501

RETURN = r"""
{{ $.ReturnInfo.ToString }}"""  # noqa: E501

################################################################################
# Imports
################################################################################

import FIXME_module_utils as module_utils  # FIXME: replace with your collection's module_utils import
{{ if and .CustomCode .CustomCode.CustomImport (not (strEq .CustomCode.CustomImport "_drop")) -}}
# BEGIN Custom imports
{{ .CustomCode.CustomImport -}}
# END Custom imports
{{- end }}

################################################################################
# Main
################################################################################

# Renamed to avoid ansible-test's bad-return-value-key sanity check: dict
# builtin method names cannot be accessed with dot notation in Jinja.
_RESERVED_RETURN_KEYS = {
    "clear": "clear_value",
    "copy": "copy_value",
    "fromkeys": "fromkey_values",
    "get": "get_value",
    "items": "item_values",
    "keys": "key_values",
    "pop": "pop_value",
    "popitem": "popitem_value",
    "setdefault": "setdefault_value",
    "update": "update_value",
    "values": "value_values",
}


def _rename_reserved_keys(obj):
    """Recursively rename dict keys that collide with dict builtin method
    names, so returned values remain accessible via dot notation in Jinja."""

    if isinstance(obj, dict):
        return {
            _RESERVED_RETURN_KEYS.get(key, key): _rename_reserved_keys(value)
            for key, value in obj.items()
        }
    if isinstance(obj, list):
        return [_rename_reserved_keys(item) for item in obj]
    return obj


def main():
    """Main function"""

    module = module_utils.Module(
        {{ $.ArgumentInfoSpec.ToString | indent 8 false }},
        supports_check_mode=True,
    )

    if not module.params["scopes"]:
        module.params["scopes"] = {{ $.Scopes | toJson }}

    # info modules only require the "collection" url
    op_configs = module_utils.ResourceOpConfigs(base_url="{{ $.BaseUrl }}", base_uri="{{ $.OperationConfigs.BaseUri }}", configs={})

    info = module_utils.Resource(
        module.params,  # only need it to build the link
        module=module,
        product="{{ $.ProductName }}",
        kind="{{ $.Kind }}",
        op_configs=op_configs,
    )

    filter_exprs = module.params.get("filters") or []

    {{ if and .CustomCode .CustomCode.PreRead }}
    # BEGIN pre_read custom code
    {{ .CustomCode.PreRead | indent 4 false }}
    # END pre_read custom code
    {{ end }}

    link = info.build_link("list")
    resources = info.list(link, key="{{ $.CollectionKey }}", filters=filter_exprs)

    {{ if and .CustomCode .CustomCode.PostRead }}
    # BEGIN post_read custom code
    {{ .CustomCode.PostRead | indent 4 false }}
    # END post_read custom code
    {{ end }}

    module.exit_json(changed=False, resources=_rename_reserved_keys(resources))


if __name__ == "__main__":
    main()
