- name: Create index endpoint deployed index with dedicated resources
  google.cloud.gcp_vertexai_index_endpoint_deployed_index:
    state: present
    display_name: "{{`{{ resource_name }}`}}"
    deployed_index_id: "{{`{{ resource_name | regex_replace('-', '_') }}`}}"
    region: us-central1
    index: "{{`{{ _myidx.name }}`}}"
    index_endpoint: "{{`{{ _myidxep.name }}`}}"
    enable_access_logging: false
    deployed_index_auth_config:
      auth_provider:
        audiences:
          - 123-myapp
        allowed_issuers:
          - mysa@myproject.iam.gserviceaccount.com
    dedicated_resources:
      min_replica_count: 1
      max_replica_count: 3
      machine_spec:
        machine_type: e2-standard-2
    project: "{{`{{ gcp_project }}`}}"
    auth_kind: "{{`{{ gcp_cred_kind }}`}}"
    service_account_file: "{{`{{ gcp_cred_file }}`}}"