---
async:
  actions:
    - create
    - update
    - delete
properties:
  - name: 'ragManagedDbConfig'
    type: Enum
    default_value: basic
    enum_values:
      - scaled
      - basic
      - unprovisioned
    description: |
      The config of the RagManagedDb used by RagEngine.

      Basic tier is a cost-effective and low compute tier suitable for the
      following cases: Experimenting with RagManagedDb, Small data size, Latency
      insensitive workload, Only using RAG Engine with external vector DBs.
      NOTE: This is the default tier if not explicitly chosen.

      Scaled tier offers production grade performance along with autoscaling
      functionality. It is suitable for customers with large amounts of data or
      performance sensitive workloads.

      Unprovisioned tier disables the RAG Engine service and deletes all your
      data held within this service. This will halt the billing of the service.
      NOTE: Once deleted the data cannot be recovered. To start using RAG Engine
      again, you will need to update the tier by calling the UpdateRagEngineConfig
      API.
      NOTE: Setting to unprovisioned is the same as state=absent.
    required: false
custom_code:
  encoder: |
    tier = f"{obj["ragManagedDbConfig"]}"
    if getattr(self, "_state", "present") == "absent":
        tier = "unprovisioned"
    return {
        "name": f"projects/{self.module.params["project"]}/locations/{self.module.params["region"]}/ragEngineConfig",
        "ragManagedDbConfig": {
            tier.lower(): {}
        }
    }

  decoder: |
    tier = next(iter(obj["ragManagedDbConfig"]))
    return {
        "name": f"{obj["name"]}",
        "ragManagedDbConfig": {
            tier.lower(): {}
        }
    }

  custom_delete: _drop